:root,
:root[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Light Theme */
:root[data-theme='light'] ivt-importer,
:root:not([data-theme]) ivt-importer {
  --ivt-color-base-100: oklch(98% 0.002 247.839);
  --ivt-color-base-200: oklch(96% 0.003 264.542);
  --ivt-color-base-300: oklch(92% 0.006 264.531);

  --ivt-color-base-content: oklch(21% 0.034 264.665);
  --ivt-color-primary: oklch(0.539 0.166 137.744);
  --ivt-color-primary-content: oklch(96% 0.016 293.756);

  --ivt-color-secondary: oklch(0.797 0.164 81.768);
  --ivt-color-secondary-content: oklch(96% 0.015 12.422);

  --ivt-color-accent: oklch(68% 0.169 237.323);
  --ivt-color-accent-content: oklch(97% 0.013 236.62);

  --ivt-color-neutral: oklch(44% 0.03 256.802);
  --ivt-color-neutral-content: oklch(98% 0.002 247.839);

  --ivt-color-info: oklch(60% 0.126 221.723);
  --ivt-color-bg-info: oklch(60% 0.126 221.723/0.6);
  --ivt-color-info-content: oklch(98% 0.019 200.873);

  --ivt-color-success: oklch(59% 0.145 163.225);
  --ivt-color-bg-success: oklch(59% 0.145 163.225/0.6);
  --ivt-color-success-content: oklch(97% 0.021 166.113);

  --ivt-color-warning: oklch(66% 0.179 58.318);
  --ivt-color-bg-warning: oklch(66% 0.179 58.318/0.6);
  --ivt-color-warning-content: oklch(98% 0.022 95.277);

  --ivt-color-error: oklch(59% 0.249 0.584);
  --ivt-color-bg-error: oklch(0.641 0.227 26.483 / 0.1);
  --ivt-color-error-content: oklch(97% 0.014 343.198);

  --ivt-radius-selector: 0.25rem;
  --ivt-radius-field: 0.25rem;
  --ivt-radius-box: 0.5rem;
  --ivt-size-selector: 0.25rem;
  --ivt-size-field: 0.25rem;
  --ivt-border: 1px;
  --ivt-depth: 0;
  --ivt-noise: 0;
}

/* Dark Theme */
:root[data-theme='dark'] ivt-importer {
  --ivt-color-base-100: oklch(18% 0.008 264.665);
  --ivt-color-base-200: oklch(22% 0.012 264.665);
  --ivt-color-base-300: oklch(28% 0.016 264.665);

  --ivt-color-base-content: oklch(92% 0.006 264.531);
  --ivt-color-primary: oklch(0.639 0.186 137.744);
  --ivt-color-primary-content: oklch(18% 0.016 137.744);

  --ivt-color-secondary: oklch(0.697 0.144 81.768);
  --ivt-color-secondary-content: oklch(18% 0.015 81.768);

  --ivt-color-accent: oklch(58% 0.149 237.323);
  --ivt-color-accent-content: oklch(18% 0.013 237.323);

  --ivt-color-neutral: oklch(34% 0.02 256.802);
  --ivt-color-neutral-content: oklch(92% 0.006 264.531);

  --ivt-color-info: oklch(70% 0.146 221.723);
  --ivt-color-bg-info: oklch(70% 0.146 221.723/0.3);
  --ivt-color-info-content: oklch(18% 0.019 221.723);

  --ivt-color-success: oklch(69% 0.165 163.225);
  --ivt-color-bg-success: oklch(69% 0.165 163.225/0.3);
  --ivt-color-success-content: oklch(18% 0.021 163.225);

  --ivt-color-warning: oklch(76% 0.199 58.318);
  --ivt-color-bg-warning: oklch(76% 0.199 58.318/0.3);
  --ivt-color-warning-content: oklch(18% 0.022 58.318);

  --ivt-color-error: oklch(69% 0.269 0.584);
  --ivt-color-bg-error: oklch(0.741 0.247 26.483 / 0.15);
  --ivt-color-error-content: oklch(18% 0.014 0.584);

  --ivt-radius-selector: 0.25rem;
  --ivt-radius-field: 0.25rem;
  --ivt-radius-box: 0.5rem;
  --ivt-size-selector: 0.25rem;
  --ivt-size-field: 0.25rem;
  --ivt-border: 1px;
  --ivt-depth: 0;
  --ivt-noise: 0;
}
